<div>
  <h2>Hi, I'm {{user.name}}!</h2>
  <p>I want to learn: {{name}}</p>
  <p>My skills level is: {{level}}</p>
  <p>{{description}}</p><br>
  <hr>
  <p><strong>Contact Details</strong></p>
  <p>Email: {{user.email}}</p>
  <p>Phone: {{user.mobile}}</p>
  <p>My preferred contact method is: {{user.communication}}</p>
  <p><i>Created on {{format_date date_created}}</i></p>
  <a class="btn btn-primary" href="mailto:{{user.email}}" role="button">Connect</a>
</div>